<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mad">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MAD">
        <activity android:name=".myorder"></activity>
        <activity android:name=".nightparty1" />
        <activity android:name=".AlmsGiving1" />
        <activity android:name=".ppackage2" />
        <activity android:name=".ppackage1" />
        <activity android:name=".bookmybuffet" />
        <activity android:name=".signup" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>